# version: '3'
# services: 
#   mysql:
#     image: mysql:latest
#     environment:
#       - MYSQL_ROOT_PASSWORD=keep1234
#       - MYSQL_DATABASE=test
#       - MYSQL_PASSWORD=keep1234
#   backend:
#     image: 0933237199/backend:v3
#     depends_on:
#       - mysql
#     ports:
#       - 8080:8080
#     environment:
#       - DATABASE_HOST=mysql
#       - DATABASE_USER=root
#       - DATABASE_PASSWORD=keep1234
#       - DATABASE_NAME=test  
#       - DATABASE_PORT=3306


# version : '2'
# services:
#   mysql:
#     image: mysql:latest
#     ports:
#       - "3306:3306"
#     networks:
#       - net-spring-db
#     environment:
#       MYSQL_DATABASE: test
#       MYSQL_USER: root
#       MYSQL_ROOT_PASSWORD: keep1234
#     container_name: mysql
#   backend:
#     image: 0933237199/backend:v3
#     container_name: backend
#     ports: 
#       - "8080:8080"
#     networks:
#       - net-spring-db
#     depends_on:
#       - mysql
#   phpmyadmin:
#     image: phpmyadmin/phpmyadmin
#     links: 
#       - mysql:mysql
#     ports:
#       - "8081:80"
#     environment:
#         MYSQL_USER: root
#         MYSQL_ROOT_PASSWORD: keep1234
#     container_name: phpmyadmin
#   frontend:
#     image: 0933237199/frontend:v3
#     ports:
#     - "4200:80"
#     container_name: frontend
# networks:
#   net-spring-db:
#     driver: bridge


version: '3'
services: 
  backend:
    image: 0933237199/backend:v3
    container_name: backend
    restart: always
    depends_on:
      - mysql
    ports:
      - 8080:8080
    environment:
      - DATABASE_HOST=mysql
      - DATABASE_USER=root
      - DATABASE_PASSWORD=keep1234
      - DATABASE_NAME=test  
      - DATABASE_PORT=3306
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=keep1234
      - MYSQL_DATABASE=test
      - MYSQL_PASSWORD=keep1234
  frontend:
    image: 0933237199/frontend:v1
    restart: always
    depends_on:
      - backend
    ports:
      - 4200:80
    container_name: frontend
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links: 
      - mysql:mysql
    ports:
      - "8081:80"
    environment:
        MYSQL_USER: root
        MYSQL_ROOT_PASSWORD: keep1234
    container_name: phpmyadmin
